.card {
    display: flex;
    text-align: left;
    margin: 0 auto;
    background-color: #FEF0FF;
    width: 600px
}

button {
    width: 100px;
    border-radius: 10px;
    border: 2px solid #FEF0FF;
}

#profilePic {
    max-width: 200px;
}

#profileData {
    margin-left: 10px;
    border-left: black;
    border-width: 5px;
}

.buttonDiv {
    margin: 15px 0px;
    display:flex;
    justify-content: space-evenly;
    font-size: 18px;
}

#yesButton:hover {
    background-color: #7E6BC4;
}

#noButton:hover {
    background-color: #C79ECF;
}