.profile-container{
    width: 95%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.profile-card{
    background-color: #FEF0FF;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    margin:5px;
}

.username {
    font-size: 32px;
    margin-left: 0px;
}

.user-details {
    font-size: 24px;
    margin-left: 0px;
}